<section class="post-container">
	<table>
		<tr>
			<th>
				Email
			</th>
			<th>
				Admin Status
			</th>
		<tr>
		<% @user.each do |user| %>
		<tr>
			<td> <%= link_to "#{user.email}", user %> </td> 
			<td> <%= user.admin %> </td>
		</tr>
		<% end %> 
	</div>
</section>