<section class="post-container">
	<span> <%= @user.email %> </span> | 
	<span> <%= @user.admin %> </span> | 
	<span> <%= @user.created_at %> </span> | 
	<span> <%= link_to 'Edit', edit_user_path %> </span>
</section>
