// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
	font-family: 'Ubuntu Mono';
	font-size: 5em;
	text-align: center;
	padding: 10px;
}

nav {
	font-family: 'Ubuntu Mono';
	font-size: 2em;
	text-align: center;
	padding: 10px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}

div.container {
	@include outer-container;
}

section.post-container {
	@include span-columns(6);
	@include shift(3);
	font-family: 'Raleway';
	border: 1px solid black;
	padding: 10px;
}
